<%- include ('./include/index-header.ejs') %>
<%- include ('./include/main-header.ejs') %>

      <!-- Breadcrumbs -->
      <section class="section novi-background breadcrumbs-custom bg-image context-dark" style="background-image: url(https://res.cloudinary.com/dpboq2tck/image/upload/v1718327599/vecteezy_casual-businessman-working-using-mobile-phone-typing_17075852_zwyvc7.jpg);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated">Let Hear Your Testimony</h6>
              <h2 class="text-uppercase breadcrumbs-custom-title">Let Hear Your Testimony</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="/">Home</a></li>
              <li class="active">Let Hear Your Testimony</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="section novi-background section-sm">
        <div class="container">
          <div class="layout-bordered">
            <div class="layout-bordered-item wow-outer">
              <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon novi-icon icon-lg mdi mdi-phone text-primary"></div>
                <ul class="list-0">
                  <li><a class="link-default" href="tel:<%= info.mobile %>"><%= info.mobile %></a></li>
                  <li><a class="link-default" href="tel:<%= info.mobile2 %>"><%= info.mobile2 %></a></li>
                </ul>
              </div>
            </div>
            <div class="layout-bordered-item wow-outer">
              <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon novi-icon icon-lg mdi mdi-email text-primary"></div><a class="link-default" href="mailto:<%= info.email %>"><%= info.email %></a>
              </div>
            </div>
            <div class="layout-bordered-item wow-outer">
              <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon novi-icon icon-lg mdi mdi-map-marker text-primary"></div><a class="link-default" href="https://www.google.com/maps?q=<%= info.address %> <%= info.state %>" target="_blank"><%= info.address %> <br> <%= info.state %></a>
              </div>
            </div>
          </div>
        </div>
      </section>
   
        <div class="cell-xl-6 align-self-center container">
          <div class="row">
            <div class="col-lg-9 cell-inner">
              <div class="section-lg">
                <h3 class="text-uppercase wow-outer"><span class="wow slideInDown"> Let Hear Your Testimony </span></h3>
                <!-- RD Mailform--> <%- include ('./messages/messages.ejs') %>
                <form class="rd-form"  method="post" action="/add-feddback" enctype="multipart/form-data" >
                  <div class="row row-10">
                    <div class="col-md-6 wow-outer">
                      <div class="form-wrap wow fadeSlideInUp">
                        <label class="form-label-outside" for="contact-first-name">First Name</label>
                        <input class="form-input" id="contact-first-name" type="text" name="full_name" >
                      </div>
                    </div>
        
                    <div class="col-md-6 wow-outer">
                      <div class="form-wrap wow fadeSlideInUp">
                        <label class="form-label-outside" for="contact-phone">Upload Image</label>
                        <input class="form-input" id="contact-phone" type="file" name="img">
                      </div>
                    </div>
                    <div class="col-12 wow-outer">
                      <div class="form-wrap wow fadeSlideInUp">
                        <label class="form-label-outside" for="contact-message">Your Message</label>
                        <textarea class="form-input" id="contact-message" name="testimony"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="group group-middle">
                    <div class="wow-outer"> 
                      <button class="button button-primary button-winona wow slideInRight" type="submit">Send Message</button>
                    </div>
                   
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <%- include ('./include/index-footer.ejs') %>


      <style>
        .every {
    z-index: 9999;
    position: absolute;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 10px grey, -2px -2px 10px rgba(128, 128, 128, 0.611);
    font-family: var(--ubuntu-bold);
    line-height: 1.6;
    color: #021220;
    width: 350px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
   
  
  }
  
  .okbutton {
    padding: 10px;
    background-color: var(--deep-blue) ;
    border: 1px solid var(--lighter-blue);
    border-radius:10px ;
    width: 100px;
    color: var(--white);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.294), -2px -2px 5px rgba(0, 0, 0, 0.096);
  }
  
  .closeds {
    z-index: 9999;
    position: absolute;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 10px grey, -2px -2px 10px rgba(128, 128, 128, 0.611);
    font-family: var(--ubuntu-bold);
    line-height: 1.6;
    color: #021220;
    width: 350px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
  
  }
  
  .mainButton {
    padding: 10px;
    background-color: var(--deep-blue) ;
    border: 1px solid var(--lighter-blue);
    border-radius:10px ;
    width: 100px;
    color: var(--white);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.294), -2px -2px 5px rgba(0, 0, 0, 0.096);
  }
  
  .buttini {
    padding: 10px;
    background-color: var(--deep-blue) ;
    border: 1px solid var(--lighter-blue);
    border-radius:10px ;
    width: 100px;
    color: var(--white);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.294), -2px -2px 5px rgba(0, 0, 0, 0.096);
  }
  
  .pade {
    position: absolute;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 10px grey, -2px -2px 10px rgba(128, 128, 128, 0.611);
    font-family: var(--ubuntu-bold);
    line-height: 1.6;
    color: #021220;
    width: 350px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    z-index: 9999;
  
  
  }
  
  .pressIt {
    padding: 10px;
    background-color: var(--deep-blue) ;
    border: 1px solid var(--lighter-blue);
    /* border-radius:10px ; */
    cursor: pointer;
    width: 100px;
    color: var(--white);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.294), -2px -2px 5px rgba(0, 0, 0, 0.096);
  }
  
  .coverup {
    position: absolute;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 10px grey, -2px -2px 10px rgba(128, 128, 128, 0.611);
    font-family: var(--ubuntu-bold);
    line-height: 1.6;
    color: #021220;
    width: 350px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    z-index: 1;
  
  }


      </style>