<%- include ("./include/index-header.ejs") %>
<%- include ('./include/main-header.ejs') %>
  
      <!-- Breadcrumbs -->
      <section class="section novi-background breadcrumbs-custom bg-image context-dark" style="background-image: url('<%= mission.img.url %>' )">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated">Our Mission</h6>
              <h2 class="text-uppercase breadcrumbs-custom-title"><%= mission.heading %></h2>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="/">Home</a></li>
              <li class="active">AOur Mission</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Working at CaseCraft-->
      <section class="section novi-background section-lg">
        <div class="container">
          <div class="row row-50 justify-content-center justify-content-lg-between flex-lg-row-reverse">
            <div class="col-md-10 col-lg-6 col-xl-5">
              <h3 class="text-uppercase">Who We Are</h3>
              <p class="about-subtitle"><%= mission.heading %></p>
              <p><%= mission.description %></p><a class="button button-lg button-primary button-winona" href="/property">View properties</a>
            </div>
            <div class="col-md-10 col-lg-6 col-xl-6"><img class="img-responsive" src="<%= mission.img.url %>" alt="" width="570" height="388"/>
            </div>
          </div>
        </div>
      </section>
      <!-- Advantages and Achievements-->
      <section class="section novi-background section-md text-center bg-gray-100">
        <div class="container">
          <h3 class="text-uppercase wow-outer"><span class="wow slideInUp">Why people Choose Us</span></h3>
          <% if (mission) {%>
          <p class="wow-outer"><span class="text-width-1 wow slideInDown"><%= mission.description %></span></p>
          <% } %>
          <div class="row row-50">
            <div class="col-6 col-md-3 wow-outer">
              <!-- Counter Minimal-->
              <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon box-chloe__icon novi-icon linearicons-users2"></div>
                <div class="counter-minimal-main">
                  <div class="counter">12</div>
                </div>
                <h5 class="counter-minimal-title">National Partners</h5>
              </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
              <!-- Counter Minimal-->
              <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon box-chloe__icon novi-icon linearicons-home-icon3"></div>
                <div class="counter-minimal-main">
                  <div class="counter">238</div>
                </div>
                <h5 class="counter-minimal-title">Properties</h5>
              </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
              <!-- Counter Minimal-->
              <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon box-chloe__icon novi-icon linearicons-star"></div>
                <div class="counter-minimal-main">
                  <div class="counter">19</div>
                </div>
                <h5 class="counter-minimal-title">Years of Experience</h5>
              </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
              <!-- Counter Minimal-->
              <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon box-chloe__icon novi-icon linearicons-apartment"></div>
                <div class="counter-minimal-main">
                  <div class="counter">54</div>
                </div>
                <h5 class="counter-minimal-title">Qualified Brokers</h5>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="section novi-background section-lg text-center">
        <div class="container">
          <h3 class="text-uppercase wow-outer"><span class="wow slideInUp">Our Team</span></h3>
          <div class="row row-50 row-xxl-70 justify-content-center justify-content-lg-start">
            <% if(staff && staff.length > 0) { %>
              <% staff.forEach((staf) => { %>
            <div class="col-md-10 col-lg-6 wow-outer">
              <!-- Profile Creative-->
              <article class="profile-creative wow slideInLeft">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="<%= staf.img.url %>" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                  <h5 class="profile-creative-title"><a href="#"><%= staf.first_name %> <%= staf.second_name %></a></h5>
                  <p class="profile-creative-position">
                    <% if (staf) { %>
                      <% let post = '' %>
                      <% if (staf.position == 'Other' || staf.position == 'Select-option') { %>
                          <% post = staf.other_position %>
                      <% } else if (staf.other_position == '') { %>
                          <% post = staf.position %>
                      <% } %>
                      <%= post %>
                  <% } %>
                    
                  </p>
                  <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:<%= staf.phone %>"><%= staf.phone %></a></div>
                  </div>
                  <p><%= staf.about %></p>
                </div>
              </article>
            </div>
            <% }) %>
            <% } %>
          </div>
        </div>
        <div class="container">
          <h3 class="text-uppercase wow-outer"><span class="wow slideInUp">Our Agent</span></h3>
          <div class="row row-50 row-xxl-70 justify-content-center justify-content-lg-start">
            <% if(agent && agent.length > 0) { %>
              <% agent.forEach((staf) => { %>
            <div class="col-md-10 col-lg-6 wow-outer">
              <!-- Profile Creative-->
              <article class="profile-creative wow slideInLeft">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="<%= staf.img.url %>" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                  <h5 class="profile-creative-title"><a href="#"><%= staf.first_name %> <%= staf.second_name %></a></h5>
                  <p class="profile-creative-position">
                   <%= staf.performance %>
                  </p>
                  <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:<%= staf.phone %>"><%= staf.phone %></a></div>
                  </div>
                  <p><%= staf.about %></p>
                </div>
              </article>
            </div>
            <% }) %>
            <% } %>
          </div>
        </div>
      </section>
    

      <%- include ('./include/index-footer') %>