<%- include ('./include/index-header.ejs') %>
<%- include ('./include/main-header.ejs') %>
   
      <!-- Breadcrumbs -->
      <section class="section novi-background breadcrumbs-custom bg-image context-dark" style="background-image: url(images/breadcrumbs-image-1.jpg);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated">Typography</h6>
              <h2 class="text-uppercase breadcrumbs-custom-title">Typography</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="/">Home</a></li>
              <li class="active">Typography</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Base typography-->
      <section class="section novi-background section-sm section-first">
        <div class="container">
          <div class="row row-50">
            <div class="col-xl-8">
              <ul class="list-xl">
                <li>
                  <h1>H1 Heading</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                </li>
                <li>
                  <h2>H2 Heading</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                </li>
                <li>
                  <h3>H3 Heading</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                </li>
                <li>
                  <h4>H4 Heading</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                </li>
                <li>
                  <h5>H5 Heading</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                </li>
                <li>
                  <h6>H6 Heading</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Blockquote-->
      <section class="section novi-background section-sm">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-10 col-xl-8">
              <h6>Blockquote</h6>
              <!-- Quote Light-->
              <blockquote class="quote-light">
                <svg class="quote-light-mark" x="0px" y="0px" width="35px" height="25px" viewbox="0 0 35 25">
                  <path d="M27.461,10.206h7.5v15h-15v-15L25,0.127h7.5L27.461,10.206z M7.539,10.206h7.5v15h-15v-15L4.961,0.127h7.5                L7.539,10.206z"></path>
                </svg>
                <div class="quote-light-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </section>
      <!-- HTML Text Elements -->
      <section class="section novi-background section-sm">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <h6>HTML Text Elements</h6>
              <p class="text-block"><a href="#">Text Link</a><a class="link-hover" href="#">Hover link</a><span class="font-weight-bold">Bold text</span>
                <mark>This is a highlighted text</mark><span class="tooltip-custom" data-toggle="tooltip" data-placement="top" title="Tooltips text">Tooltips</span><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</span><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</span><span class="text-strike">Strikethrough text</span><span class="text-underline">Underlined text</span>
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- Unordered List-->
      <section class="section novi-background section-sm">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-10 col-xl-8">
              <h6>Unordered List</h6>
              <p>Sea quod soleat dolorum id. Tale lobortis laboramus eum no, ius vocibus pertinacia scribentur ex, qui consul semper no. Ne dicunt ponderum maiestatis sea, vix tollit eripuit scaevola ne</p>
              <ul class="list-marked">
                <li>Ei sumo eruditi sadipscing nec</li>
                <li>Vel nihil percipitur ei. Fugit</li>
                <li>Te partem omnesque eligendi has</li>
                <li>Ei tollit euismod cum, augue</li>
                <li>Tollit fuisset mei ea, has</li>
              </ul>
              <p>Ad posse doming appareat mea. Ex vix doctus minimum. Eleifend praesent cu pri, sed dicant laudem putent at. Sed eu</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Ordered List-->
      <section class="section novi-background section-sm">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-10 col-xl-8">
              <h6>Ordered List</h6>
              <p>No sit hinc alienum, has eligendi inciderint id. Eu pri alii habemus voluptaria. Volumus philosophia usu in. Deseruisse expetendis per ex, sale ocurreret te est. Nam eu stet graeci</p>
              <ol class="list-ordered">
                <li>Ut velit ocurreret consequuntur</li>
                <li>Ius at congue vocent. Quo at</li>
                <li>Cu facer nobis feugait mel</li>
                <li>Mutat nostrud habemus sed ex</li>
                <li>Vide etiam apeirian qui cu</li>
              </ol>
              <p>i has commodo eripuit, saperet postulant ei nam, id duis probo mea. Pro iriure noluisse voluptaria ut</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Centered image-->
      <section class="section novi-background section-sm">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <h6>Centered image</h6>
              <figure class="figure-light"><img class="img-centered" src="images/typography-1-770x456.jpg" alt="" width="770" height="456"/>
                <figcaption>
                  <p>Offering the best properties</p>
                </figcaption>
              </figure>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Left aligned image-->
      <section class="section novi-background section-sm">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <h6>Left aligned image</h6>
              <div class="row row-30">
                <div class="col-md-6"><img src="images/typography-2-770x456.jpg" alt="" width="770" height="456"/>
                </div>
                <div class="col-md-6">
                  <p>Suavitate assentior vituperata eam ut, democritum voluptaria consetetur an mei. Quod maluisset pro ex, eligendi tincidunt complectitur eos ne. Ei cotidieque voluptatibus</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Right aligned image-->
      <section class="section novi-background section-sm section-last">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <h6>Right aligned image</h6>
              <div class="row row-30 flex-md-row-reverse">
                <div class="col-md-6"><img src="images/typography-3-770x456.jpg" alt="" width="770" height="456"/>
                </div>
                <div class="col-md-6">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <% if(blog && blog.length > 0) { %>
        <% blog.forEach((log) => { %>
       <section class="section novi-background section-sm">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <h6><%= log.topic %></h6>
              <div class="row row-30">
                <div class="col-md-6"><img src="<%= log.image.url %>" alt="" width="770" height="456"/>
                    <p><%- log.fullname %>. <%= log.blogs  %></p>
                </div>
                <div class="col-md-6 post-preview" >
                  <p><%= log.article %></p>
                  
                  <button class="read-more">Read more</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <% })%>
      <% } %>
     
      <%- include ('./include/index-footer.ejs') %>